<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!----->
<h2>演示th:text和th:utext的区别</h2>
<h3>th:text会对文本内容进行转义</h3>
<div th:text="${hello}"></div>
<hr>
<h3>th:utext不会对文本内容进行转义</h3>
<div th:utext="${hello}"></div>
<hr>
<h2>演示th:each</h2>
<div th:each="technology:${technologies}" th:text="${technology}"></div>
<hr>
<div>
    <span th:each="technology:${technologies}">[[${technology}]]</span>
</div>
</body>
</html>